.container {
    min-width: 100%;
}

.navbar {
    display: flex;
    background-color: #121212 !important;
    font-family: $navfont;
    z-index: 2;
    justify-content: space-evenly;
}

.navbar .navbar-brand {
    padding-left: 30px;
    color: #ecf0f1;
    font-family: $logo;
    font-size: 40px;
    display: flex;
    img {
        width: 100px;
    }
    p {
        color: #ecf0f1;
        margin: 0;
        padding-top: 15px;
        padding-left: 25px;
    }
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #2069e0;
}

.navbar .navbar-text {
    color: #ecf0f1;
}

.navbar .navbar-text a {
    color: #2069e0;
}

.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #2069e0;
}

.navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #2069e0;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link {
    background-color: #121212;
}

.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ecf0f1;
    color: #2069e0;
}

.navbar .navbar-toggle {
    border-color: #121212;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #121212;
}

.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ecf0f1;
}

.navbar .navbar-link {
    color: #ecf0f1;
}

.navbar .navbar-link:hover {
    color: #2069e0;
}

@media (max-width: 480px) {
    .navbar {
        display: flex;
    }
    .navbarnavbar-toggler {
        width: 20vw;
    }
    .navbar-toggler-icon {
        width: 8vw;
    }
    .navbar .navbar-brand {
        color: #ecf0f1;
        font-family: $logo;
        font-size: 6vw;
        img {
            width: 18vw;
            height: 10vh;
        }
        p {
            margin: 0;
            padding-top: 2.5vh;
        }
        flex: 1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #2069e0;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #2069e0;
        background-color: #121212;
    }
}

@media (max-width: 768px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #2069e0;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #2069e0;
        background-color: #121212;
    }
}

@media (max-width: 1024px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #2069e0;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #2069e0;
        background-color: #121212;
    }
}

@media (max-width: 1200px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #2069e0;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #2069e0;
        background-color: #121212;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2069e0;
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2069e0;
    background-color: #121212;
}